* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/images/pokemonSS.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.countdown-content {
  color: #fff;
  text-align: center;
}

.countdown {
  display: flex;
  justify-content: center;
  div {
    margin: 0.5rem;
    font-size: 2rem;
    border: 1px solid #fff;
    padding: 0.2rem;
    background: rgba(0, 0, 0, 0.4);
  }
}

p {
  margin: 0.5rem auto;
  font-size: 2.5rem;
}

h1 {
  margin: 0.5rem auto;
  font-size: 3rem;
}

.sword {
  color: #d5152e;
  font-weight: 700;
}
.shield {
  color: #1957fb;
  font-weight: 700;
}

@media (max-width: 500px) {
  .countdown {
    flex-direction: column;
  }
}
